<!DOCTYPE html>
<html>
    <body>
        <div>
        <form action="/action_page.php" target="_self" method="post" autocomplete="off">
            <div style="display:inline-block">
            <label for="fname">Full Name</label><br>
            <input type="text" style="margin-right:50px" id="fname" name="fname" size="40" placeholder="Enter Full Name" required><br><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" size="40" placeholder="Enter Your Email" required><br><br>
            </div>
            <label for="phone">Phone Number</label><br>
            <input type="tel" id="phone" name="phone" size="11" placeholder="01815123456" required><br><br>
            <label for="dob">Date Of Birth</label><br>
            <input type="date" id="date" name="date" required><br><br>
            <label for="gender">Gender</label><br><br>
            <input type="radio" id="male" name="male" value="Male" required>
            <label for="male">Male</label>
            <input type="radio" id="female" name="female" value="Female" required>
            <label for="female">Female</label>
            <input type="radio" id="none" name="none" value="Prefer Not To Say" required>
            <label for="none">Prefer Not To Say</label><br><br>
            <label for="addr">Address</label><br>
            <input type="text" id="addr" name="addr" size="40" placeholder="House#25, Sun Valley Road" required><br><br>
            <label for="city">City</label><br>
            <input type="text" id="city" name="city" size="40" placeholder="New York" required><br><br>
            <label for="country">Country</label><br>
            <input type="text" id="country" name="country" size="40" placeholder="United States" required><br><br>
            <label for="post">Postal Code</label><br>
            <input type="number" id="post" name="post" size="40" placeholder="9658" required><br><br>
            <label for="pass">Password</label><br>
            <input type="password" id="pass" name="pass" size="40" placeholder="" required><br>
            <h4>Password Requirements:</h4>
            <ul>
                <li>MUST contain at least 8 characters (12+ recommended)</li>
                <li>MUST contain at least one uppercase letter (ABC....)</li>
                <li>MUST contain at least one lowercase letter (abc....)</li>
                <li>MUST contain at least one number (123....)</li>
                <li>MUST contain at least one special character (!”#$%&'()*+,-./:;<=>?@[\]^_`{|}~ )</li>
            </ul><br><br>
            <input type="submit" value="Create Account">

        </form>
    </div>
    </body>
</html>
